body{
  padding: 0;
  margin: 0;
}
.info{
  margin: 20px 0;
  position: absolute;
  text-align: center;
  opacity: 0.2;
  width:100%;
}
.info a{
  display: block;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}
a.title{
  font-size: 20px;
  font-weight: bold;
}