:root {
    font-size: 16px;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(255 255 255 / 87%);
    background-color: #242424;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
} 

canvas {
    display: block;
}

a {
    font-weight: 500;
    text-decoration: inherit;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}


